<div class="container">
    <h1>
        Home Page
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ullamcorper ex. Vivamus ullamcorper feugiat
        eros non venenatis. Ut lobortis urna in tempor efficitur. Quisque ac convallis arcu. Cras aliquet turpis eu dui
        lacinia, quis ornare erat dictum. Morbi quis risus vehicula, tristique metus placerat, commodo arcu. Phasellus
        tempor tincidunt libero, ut tristique odio dapibus sit amet. Ut luctus nunc a leo scelerisque tincidunt.
    </p>
</div>